/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts

html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Sass Conf colour palette
$c-shade-0: #D3639E;
$c-shade-1: #AC235E;
$c-shade-2: #A81D58;
$c-shade-3: #A0154F;
$c-shade-4: #861142;
$c-shade-5: #640D32;
$c-shade-6: #3E081E;
$c-shade-7: #0F0108;

$c-accent-0: #CAEAEA;
$c-accent-1: #7ACBCB;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Archer', serif;
$headingFont: 'Josefin Sans', sans-serif;

$mainColor: $c-shade-7;
$headingColor: $c-shade-6;
$headingTextShadow: none;
$backgroundColor: #F1F9F9;
$slideBackgroundColour: #F1F9F9;
$linkColor: $c-shade-4;
$linkColorHover: $c-shade-5;
$selectionBackgroundColor: $c-shade-2;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

@mixin transform($t) {
    -moz-transform: $t;
    -ms-transform: $t;
    -webkit-transform: $t;
    transform: $t;
}

@mixin rounded-corners($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin page-controls($base, $shade) {
  .progress span { background-color: $shade !important; }
  .reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
    border-right-color: $base;
    border-left-color: $shade;
  }
  .reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
    border-left-color: $base;
    border-right-color: $shade;
  }
  .reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
    border-top-color: $shade;
    border-bottom-color: $base;
  }
}

@mixin  page-style($name, $colour) {
  .page-slate--#{$name} {
    body { background-color: $colour; }
    .reveal {
      color: #ffffff;
      background-color: $colour !important;
      h1, h2, h3, h4, a { color: #ffffff !important; }
    }
    @include page-controls($colour, #ffffff);
  }

  .page--#{$name} {
    .reveal {
      a, strong { color: $colour}
    }
    @include page-controls($backgroundColor, $colour);
  }
}

@include page-style(shade-1, $c-shade-1);
@include page-style(shade-2, $c-shade-2);
@include page-style(shade-3, $c-shade-3);
@include page-style(shade-4, $c-shade-4);
@include page-style(shade-5, $c-shade-5);
@include page-style(shade-6, $c-shade-6);

.logo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 0 0 0;
}

body {
    background-image: linear-gradient(
        to bottom,
        #ffffff,
        #ffffff 88%,
        $c-shade-1 88%,
        $c-shade-1 100%
    );
}

.reveal {
  letter-spacing: 0em;
    position: relative;
    background-image: repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193,228,228,0.1) 10vw, rgba(193,228,228,0.1) 20vw, transparent 20vw),url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193,228,228,0.1) 10vw, rgba(193,228,228,0.1) 20vw, transparent 20vw),-moz-linear-gradient(90deg, transparent 50%, rgba(193,228,228,0.1) 50%);
    background-image: -webkit-repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193,228,228,0.1) 10vw, rgba(193,228,228,0.1) 20vw, transparent 20vw),-webkit-linear-gradient(90deg, transparent 50%, rgba(193,228,228,0.1) 50%);
    background-image: repeating-linear-gradient(80deg, transparent, transparent 10vw, rgba(193,228,228,0.1) 10vw, rgba(193,228,228,0.1) 20vw, transparent 20vw),linear-gradient(0deg, transparent 50%, rgba(193,228,228,0.1) 50%);
    background-size: 100% 100%, 20vw 20vw;


  .progress span {
      background: #ffffff;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 40px;
    padding: 0.125em 0.5em;
    max-width: 78%;
    color: #ffffff;
  }

  h3.light {
    font-family: $headingFont;
    font-weight: 200;
    text-transform: $headingTextTransform;
  }

  .slides {
    text-align: left;
    left: 46%;
    background-image: linear-gradient(to bottom,transparent, transparent 88%, $c-shade-1 88%, $c-shade-1 100%);

    > section {
      height: 94%;
      padding: 2.5% 5%;
      @include rounded-corners(10px);
    }
  }

  section {
    img {
      max-width: 100%;
      max-height: 70%;
      border: none;
      box-shadow: none;

      &.u-unstyled {
        background: transparent;
        box-shadow: none;
      }
    }
  }

  iframe {
    width: 100%;
  }

  figure {
    width: 100%;
    text-align: center;

    figcaption {
      font-weight: 200;
      font-size: 1rem;
    }
  }

  pre {
    border: 10px solid $c-accent-1;
    width: 98%;
    box-shadow: none !important;
  }

  blockquote {
    width: 98%;
    padding: 2%;
    font-weight: 200;
    font-size: 1.6em;
    color: #ffffff;
    line-height: 1.4em;
    box-shadow: none;
    font-style: normal;
  }

  .list--large li {
    font-size: 1.8rem;
    line-height: 1.4em;
    margin-bottom: 1em;
  }

  .tags {
    list-style: none;
    margin: 0;
  }

  .tags li {
    padding: 2px 5px;
    font-size: 0.6em;
    background-color: $c-shade-1;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
  }

  table {
    width: 100%;
  }

  th {
    padding: 0 0 5px 10px;
    font-size: 1em;
    background-color: $c-shade-6;
    color: white;
    border: none;
  }

  td {
    padding: 0 0 5px 10px;
    color: #ffffff;
    border-bottom: 1px solid $c-shade-6;
  }

  .table__cell--bold {
      font-weight: bold;
  }

  .table__row--1 { background-color: $c-shade-1; }
  .table__row--2 { background-color: $c-shade-2; }
  .table__row--3 { background-color: $c-shade-3; }
  .table__row--4 { background-color: $c-shade-4; }
  .table__row--5 { background-color: $c-shade-5; }

  footer {
    width: 90%;
    position: absolute;
    overflow: auto;
    bottom: 20px;
    font-family: $mainFont;
    font-weight: 200;
    font-size: 1.4rem;
    color: #ffffff;

    a {
        color: #ffffff !important;
    }
  }

  .u-right { float: right; }
  .u-left { float: left; }
  .u-maxed {
    width: 100%;
  }
}

// Headings ------------------------------------
// ---------------------------------------------
h2.page-title {
    max-width: 80%;
}

h1.main-title,
h3.main-title {
    width: 90%;
}

h1.main-title { margin-bottom: 0; background-color: $c-shade-1; }
h3.main-title { background-color: $c-shade-0; }

.reveal h1 { font-size: 2em; }
.reveal h2 { font-size: 1.4em;	}
.reveal h3 { font-size: 1.2em;	}
.reveal h4 { font-size: 1em;	}

.rhombus {
    background-color: $c-shade-0;
    @include transform(skewX(-10deg));
}

.rhombus--accent {
    background-color: $c-accent-1;
}

.rhombus--left {
    @include transform(skewX(10deg));

    .rhombus-reset {
        @include transform(skewX(-10deg));
    }
}

.rhombus--image {
    padding: 0 5% !important;
    background-color: #ffffff;
    border: 12px solid $c-accent-0 !important;
}

.rhombus-reset {
    @include transform(skewX(10deg));
}