/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts

@font-face {
  font-family: 'FiraSans Bold';
  src: url("/lib/font/FiraSans-Bold.eot");
  src: url("/lib/font/FiraSans-Bold.eot?#iefix") format("embedded-opentype"),
       url("/lib/font/FiraSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans Light';
  src: url("/lib/font/FiraSans-Light.eot");
  src: url("/lib/font/FiraSans-Light.eot?#iefix") format("embedded-opentype"),
       url("/lib/font/FiraSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url("/lib/font/FiraSans-Regular.eot");
  src: url("/lib/font/FiraSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("/lib/font/FiraSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'FiraSans', sans-serif;
$headingFont: 'FiraSans Bold', Impact, sans-serif;
$headingLightFont: 'FiraSans Light', Impact, sans-serif;

$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base2;
$slideBackgroundColour: $base3;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

@mixin rounded-corners($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin page-controls($base, $accent) {
  .progress span { background-color: $accent !important; }
  .reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
    border-right-color: $base;
    border-left-color: $accent;
  }
  .reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
    border-left-color: $base;
    border-right-color: $accent;
  }
  .reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
    border-top-color: $accent;
    border-bottom-color: $base;
  }
}

@mixin  page-style($name, $colour) {
  .page-slate--#{$name} {
    body { background-color: $colour; }
    .reveal {
      color: #ffffff;
      .slides > section { background-color: $colour; }
      h1, h2, h3, h4, a { color: #ffffff !important; }
    }
    @include page-controls($colour, #ffffff);
  }

  .page--#{$name} {
    .reveal {
      a, strong { color: $colour}
    }
    @include page-controls($backgroundColor, $colour);
  }
}

@include page-style(orange, $orange);
@include page-style(magenta, $magenta);
@include page-style(violet, $violet);
@include page-style(blue, $blue);
@include page-style(cyan, $cyan);
@include page-style(green, $green);

.reveal {
  letter-spacing: 0em;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 40px;
  }

  h3.light {
    font-family: $headingLightFont;
    text-transform: $headingTextTransform;
  }

  .slides {
    text-align: left;
    left: 46%;

    > section {
      background-color: $slideBackgroundColour;
      height: 94%;
      padding: 2.5% 5%;
      @include rounded-corners(10px);
    }
  }

  section {
    img {
      max-width: 100%;
      max-height: 70%;
      border: none;

      &.u-unstyled {
        background: transparent;
        box-shadow: none;
      }
    }
  }

  iframe {
    width: 100%;
  }

  figure {
    width: 100%;
    text-align: center;

    figcaption {
      font-family: $headingLightFont;
      font-size: 1rem;
    }
  }

  pre {
    width: 98%;
  }

  blockquote {
    width: 98%;
    font-family: $headingLightFont;
    font-size: 1.6em;
    line-height: 1.4em;
    box-shadow: none;
    font-style: normal;
  }

  .list--large li {
    font-size: 1.8rem;
    line-height: 1.4em;
    margin-bottom: 1em;
  }

  .tags {
    list-style: none;
    margin: 0;
  }
  
  .tags li {
    padding: 2px 5px;
    font-size: 0.6em;
    background-color: $blue;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
  }

  table {
    width: 100%;
  }

  th {
    background-color: $blue;
    color: white;
    border: none;
  }

  td {
    border-bottom: 1px solid #ccc;
  }


  footer {
    width: 90%;
    position: absolute;
    overflow: auto;
    bottom: 20px;
    font-family: $headingLightFont;
    font-size: 1rem;
  }

  .u-right { float: right; }
  .u-left { float: left; }
  .u-maxed {
    width: 100%;
  }
}