a:after { background-color:#fff; }
/*
a:not([href^="#"]):after { content:" ( "attr(href)" ) "; }
a:not([href^="http:"]):after { content: " ( http://www.canadianliving.com/"attr(href)" ) "; }
*/
a.more:not([href^="#"]):after,
li.type_article h3 a:not([href^="#"]):after,
li.type_recipe h3 a:not([href^="#"]):after { 
	content:" ( " attr(href) " ) ";
}
a.more:not([href^="http:"]):after,
li.type_article h3 a:not([href^="http"]):after,
li.type_recipe h3 a:not([href^="http"]):after {
	content: " ( http://www.canadianliving.com/" attr(href)" ) ";
}
blockquote[cite]:after { content: "Quoted from: " attr(cite); display: block; }


#header_top_left,
#header_top_right,
#header_nav,
#frmSearch_web,
#user_status_container,
#footer_container,
.advertisement,
#recipe_box,
#signup_newsletters_box,
#our_partners_box,
#advisory_panel_box,
#skyscraper,
#quick_and_easy,
#breadcrumb,
#left_navigation,
#related_content,
#comments_form_box,
#comments_submitted_box,
.banner_300x105,
#contests_heading,
#page_options,
.ad,
.pic_mag_cover,
#sub_today,
#sub_gift,
#sub_my,
.sub_today_more,
#content_browser_large,
quick_more_recipes,
#right_col,
#no_comments_box,
#send_to_friend,
#comments_header,
#comments_box_full_1,
#add_to_box,
.advertisement_header,
#featureSWFContent,
#top_feature_article,
.item_count,.currentPage,
.main-bloc #main_inner_content div.pagination,
.btnBackToRecipe,
.slider_header,
#slideshow .share,
#sharethis_0,
#fmCommentsWrapper, 
a.print_list,
div.recipe_servings legend,
#button_change_serving_size,
.revert_to_original_portions,
#change_servings .instructions,
#catfish,
.highlight,
#disqus_thread,
.toolbox,
.hot_topics,
#embeded_ad_content_container,
.pagination,
.content_pagination_list,
#recipe #bookmarks_count,
#recipe #add_recipe,
#recipe #recipe_ratings,
#recipe .recipe_servings,
#recipe #nutrition_chart,
#recipe .menu_items,
#recipe .keywords,
#recipe .micro_format,
#recipe .quantityOriginal,
#recipe .unitOriginal,
#recipe .metricUnitOriginal,
#header_main script,
#header_main form,
#header_main ul,
#header_main a.cl_logo,
section.also-like,
section.related-content,
aside#primary,
.cl_logo,
.xpromo_head-wrap,
.head-input,
.main-bloc article header figure .tested-label,
.main-bloc article header figure figcaption,
.main-bloc article header .user-tools,
.main-bloc article header .recipe_ratings,
.main-bloc article .calculator,
ul.pager,
.pinit-button {
display:none;
}

#wrapper #content a {
	color: #000;
	text-decoration: none;
}

.main-bloc {
height:auto !important;
font-family:Arial, Helvetica, sans-serif;
}

#header-primary .print-logo {
	display: block;
	width: 200px;
}

.main-bloc article footer {
	display: block;
	text-align: right;
	font-size: 11px;
	margin-top: 40px;
	clear: both;
}

.main-bloc .content .subtitle,
.main-bloc .content .dek {
margin-bottom:20px;
padding-bottom:20px;
border-bottom:2px solid #E5E5E5;
}

.main-bloc article .prep-info li .label {
	font-weight: bold;
}

.main-bloc article h2 {
	font-weight: bold;
}

.main-bloc a {
color:red;
}

.main-bloc article header figure,
.articles article header figure {
	margin-left: 0;
	clear: both;
}

.main-bloc article header .recipe-head {
	clear: both;
}

.main-bloc article header figure img,
.main-bloc .menu_caption,
.articles article header figure img {
float:left;
margin-top:10px;
margin-bottom:10px;
margin-right:10px;
font-style:italic;
color:#666666;
}

.main-bloc h1{
font-family: Helvetica, Arial, sans-serif;
color: #373737;
font-size: 32px;
font-weight: normal;
margin-bottom:12px;
}

.main-bloc article header h1 {
	font-size: 32px;
}

.main-bloc h2{
font-family: Helvetica, Arial, sans-serif;
color: #373737;
font-size: 24px;
font-weight: normal;
margin-bottom:8px;
}
.main-bloc p.author{
color:#666666;
}
p { 
orphans: 2;
widows: 1; 
}

.articles article header .auth,
.recipe .main-bloc article header .recipe-head .auth,
.recipe .main-bloc article header .recipe-head .sce {
	font-size: 11px;
}


.articles article header {
	width: auto;
	float: left;
	clear: both;
}
.articles article header .text {
	clear: both;
	
}

.articles article .body {
	clear: both;
}



.recipe h1,
#grocery_list h1 {
	font-size:1.6em;
}

.recipe h2,
#grocery_list h2 {
	font-size:1.1em;
}

#recipe_nutrition_supplemental, #menu_supplemental{
margin:-2em 0pt 1em 1em;
width: 12em;
border-width: 1pt;
font-size:0.8em}

#recipe_nutrition_supplemental, 
#menu_supplemental, 
img.tested_till_perfect {
float:right;}

#mycl span.article_author{
display:block;
}
img{border:none;}
#change_servings fieldset{width:300px;}
#change_servings ul li{list-style-type:none;}

#header_main,
#grocery_list th {
	text-align: left;
}

#change_servings,
#change_servings fieldset {
	border: 0;
}

#change_servings,
#change_servings fieldset,
#change_servings fieldset input,
#change_servings fieldset ul,
#change_servings fieldset ul li {
	margin: 0;
	padding: 0;
}

#change_servings fieldset input {
	width: 25pt;
}

#servings_warning,
#print_grocery_list #sort_grocery_list,
#print_top,
#print_bottom {
	display: none;
}

#print_grocery_list h1 {
	font-size: 18px;
}

#print_grocery_list table {
	width: 100%;
}

#print_grocery_list td {
	padding:2px 5px;
}

#print_grocery_list #grocery_list th {
	padding:2px 10px;
}

#recipe .left_col {
float:left;
}
#recipe .ingredients {
clear:both;
width:100%;
}